// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 900

.crimson-pro-<uniquifier> {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    color:black;
    /* font-family: url("../Case\ Study\ WebPage/.crimson-pro-"); */
}

img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color:inherit
}

button {
    background-color: rgb(28, 52, 28);
    color: white;
}

container-fluid py-5{
    background-image: url("Images/paperbackground.png");
}

.card {
    text-align:center;
    display:inline-block;
    /* width: 20rem; */
}

section {
    margin: 100px;
}

Research-container {
    display: flex;
}